100 BITMAP "100.bmp"
101 BITMAP "101.bmp"
102 BITMAP "102.bmp"
103 BITMAP "103.bmp"
104 BITMAP "104.bmp"
105 BITMAP "105.bmp"
106 BITMAP "106.bmp"
107 BITMAP "107.bmp"

110 BITMAP "100.bmp"
111 BITMAP "101.bmp"
112 BITMAP "102.bmp"
113 BITMAP "103.bmp"
114 BITMAP "104.bmp"
115 BITMAP "105.bmp"
116 BITMAP "106.bmp"
117 BITMAP "107.bmp"

120 BITMAP "120.bmp"
121 BITMAP "121.bmp"
122 BITMAP "122.bmp"
123 BITMAP "123.bmp"
124 BITMAP "124.bmp"
125 BITMAP "125.bmp"
126 BITMAP "126.bmp"
127 BITMAP "127.bmp"

130 BITMAP "130.bmp"
131 BITMAP "131.bmp"
132 BITMAP "132.bmp"
133 BITMAP "133.bmp"
134 BITMAP "134.bmp"
135 BITMAP "135.bmp"
136 BITMAP "136.bmp"
137 BITMAP "137.bmp"

200 BITMAP "200.bmp"
201 BITMAP "201.bmp"
202 BITMAP "202.bmp"
203 BITMAP "203.bmp"
204 BITMAP "204.bmp"
205 BITMAP "205.bmp"
206 BITMAP "206.bmp"
207 BITMAP "207.bmp"

210 BITMAP "210.bmp"
211 BITMAP "211.bmp"
212 BITMAP "212.bmp"
213 BITMAP "213.bmp"
214 BITMAP "214.bmp"
215 BITMAP "215.bmp"
216 BITMAP "216.bmp"
217 BITMAP "217.bmp"

220 BITMAP "220.bmp"
221 BITMAP "221.bmp"
222 BITMAP "222.bmp"
223 BITMAP "223.bmp"
224 BITMAP "224.bmp"
225 BITMAP "225.bmp"
226 BITMAP "226.bmp"
227 BITMAP "227.bmp"

230 BITMAP "230.bmp"
231 BITMAP "231.bmp"
232 BITMAP "232.bmp"
233 BITMAP "233.bmp"
234 BITMAP "234.bmp"
235 BITMAP "235.bmp"
236 BITMAP "236.bmp"
237 BITMAP "237.bmp"

300 BITMAP "300.bmp"
301 BITMAP "301.bmp"
302 BITMAP "302.bmp"
303 BITMAP "303.bmp"
304 BITMAP "304.bmp"
305 BITMAP "305.bmp"
306 BITMAP "306.bmp"
307 BITMAP "307.bmp"

310 BITMAP "310.bmp"
311 BITMAP "311.bmp"
312 BITMAP "312.bmp"
313 BITMAP "313.bmp"
314 BITMAP "314.bmp"
315 BITMAP "315.bmp"
316 BITMAP "316.bmp"
317 BITMAP "317.bmp"

320 BITMAP "320.bmp"
321 BITMAP "321.bmp"
322 BITMAP "322.bmp"
323 BITMAP "323.bmp"
324 BITMAP "324.bmp"
325 BITMAP "325.bmp"
326 BITMAP "326.bmp"
327 BITMAP "327.bmp"

330 BITMAP "330.bmp"
331 BITMAP "331.bmp"
332 BITMAP "332.bmp"
333 BITMAP "333.bmp"
334 BITMAP "334.bmp"
335 BITMAP "335.bmp"
336 BITMAP "336.bmp"
337 BITMAP "337.bmp"

400 BITMAP "400.bmp"
401 BITMAP "401.bmp"
402 BITMAP "402.bmp"
403 BITMAP "403.bmp"
404 BITMAP "404.bmp"
405 BITMAP "405.bmp"
406 BITMAP "406.bmp"
407 BITMAP "407.bmp"

410 BITMAP "410.bmp"
411 BITMAP "411.bmp"
412 BITMAP "412.bmp"
413 BITMAP "413.bmp"
414 BITMAP "414.bmp"
415 BITMAP "415.bmp"
416 BITMAP "416.bmp"
417 BITMAP "417.bmp"

420 BITMAP "320.bmp"
421 BITMAP "321.bmp"
422 BITMAP "322.bmp"
423 BITMAP "323.bmp"
424 BITMAP "324.bmp"
425 BITMAP "325.bmp"
426 BITMAP "326.bmp"
427 BITMAP "327.bmp"

500 BITMAP "configuration background.bmp"

800 RCDATA "grenade.wav"
801 RCDATA "explosion.wav"
802 RCDATA "ant_emerge.wav"
803 RCDATA "ant_attack.wav"
804 RCDATA "ant_bite.wav"
805 RCDATA "ant_paralyse.wav"
806 RCDATA "ant_run.wav"
807 RCDATA "ant_walk.wav"
808 RCDATA "ant_pain.wav"
809 RCDATA "ant_dead.wav"
810 RCDATA "human_run.wav"
811 RCDATA "human_walk.wav"
812 RCDATA "male_jump.wav"
813 RCDATA "male_throw.wav"
814 RCDATA "male_pain1.wav"
815 RCDATA "male_pain2.wav"
816 RCDATA "male_pain3.wav"
817 RCDATA "male_dead.wav"
818 RCDATA "female_jump.wav"
819 RCDATA "female_throw.wav"
820 RCDATA "female_pain1.wav"
821 RCDATA "female_pain2.wav"
822 RCDATA "female_pain3.wav"
823 RCDATA "female_dead.wav"
824 RCDATA "wind.wav"

900 RCDATA "stone128.raw"
901 RCDATA "stone64.raw"
902 RCDATA "stone32.raw"
903 RCDATA "stone16.raw"
904 RCDATA "stone8.raw"
905 RCDATA "stone4.raw"
906 RCDATA "stone2.raw"
907 RCDATA "stone2.raw"

910 RCDATA "floor256.raw"

930 RCDATA "mael_18.glf"

940 RCDATA "grenade_icon.tga"

950 RCDATA "ant.md2"
950 BITMAP "ant.bmp"

951 RCDATA "grenade.md2"
951 BITMAP "grenade.bmp"

952 RCDATA "male.md2"
952 BITMAP "male.bmp"

953 RCDATA "female.md2"
953 BITMAP "female.bmp"

960 RCDATA "heart.sprite"
961 RCDATA "dirt.sprite"
962 RCDATA "explode.sprite"
963 RCDATA "blood.sprite"

970 RCDATA "heart.tga"
971 RCDATA "dirt.tga"
972 RCDATA "explode.tga"
973 RCDATA "blood.tga"

990 RCDATA "introduction.map"

999 RCDATA "about.rtf"